*,
*:before,
*:after {
    box-sizing: border-box;
}



h1 {
    font-family: var(--font-kalam);
    font-size: var(--xxl);
    margin-top:100px;
    text-decoration: none;
    text-align: center;
}

h2 {
    font-family: var(--font-kalam);
    font-size: var(--xxl);
    text-decoration: none;
}

h3 {
    font-family: var(--font-indie-flower);
    font-size: var(--xl);
    text-decoration: none;
}

h4 {
    font-family: var(--font-delius);
    font-size: var(--l);
    text-decoration: none;
}

h5 {
    font-family: var(--font-kalam);
    font-size: var(--m);
    text-decoration: none;
}

body {
    font-family: var(--font-delius);
    font-size: var(--s);
    text-decoration: none;
}

body {
    font-family: var(--font-delius);
    font-size: var(--xs);
    text-decoration: none;
    background-color: var(--main-color--pink);
}

small text {
    font-family: var(--font-delius);
    font-size: var(--xxs);
    text-decoration: none;
}

button { 
    font-family: var(--font-delius);
    font-size: var(--m);
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}


.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}