img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: flex;
}

figure {
    margin: 0;
}

figcaption {
    font-family: var(--font-delius);
    font-size: var(--xxs);
    color: var(--text-color--grey);
}

video {
    margin-left: 2rem;
    margin-bottom: 1rem;
    width: 80%;
}
