.article__header {
    top: 5rem;
}

.article__text {
    text-align: justify;
    padding-bottom: 1rem;
}

.article__title {
    font-family: var(--font-kalam);
    font-size: var(--m);
    text-decoration: none;
    text-align: left;
    padding: 0.5rem;
}

.article__picture {
    width: 21rem;
}

.article__link {
    list-style: none;
    text-decoration: none;
    padding-bottom: 1rem;
}

