.footer { 
    background-color: var(--main-color--brown);
    position: bottom;
    width: 100%;
    padding-top: 0.9rem;
    padding-bottom: 4rem;
    margin: auto;
    font-size: var(--m);
    padding-left: 0.5rem;
}

.footer__list {
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    text-decoration: none;
}

.footer__mention {
    color: var(--text-color--black);
    text-align: center;
    font-family: var(--font-delius);
    font-size: var(--s);
    padding: 0.5rem;
}

.footer__link {
    color: var(--text-color--blue-footer);
    text-decoration: underline;
}

.footer__name {
    font-size: var(--s);
    text-align: left;
    padding: 0.3rem;
    margin: 0;
}

.footer__mailto {
    font-size: var(--xs);
    text-decoration: underline;
    text-align: left;
}

.footer__contact {
    padding: 0.5rem;
    margin: 0.7rem;
}

.footer__logo-mmi {
    position: absolute;
    right: 6rem;
}

.list-unstyled {
    display: inline;
}

.footer__logo-site {
    position: absolute;
    right: 0.7rem;
}