.footer { 
    background-color: var(--main-color--brown);
    position: bottom;
    width: 100%;
    padding-top: 0.9rem;
    padding-bottom: 4rem;
    margin: auto;
    font-size: var(--m);
    padding-left: 0.5rem;
}

.footer__list {
    justify-content: center;
}

.footer__contact {
    padding: 0.3rem;
    line-height: 2.7rem;
    font-size: var(--xs);
    text-decoration: underline;
}

.footer__name {
    font-size: var(--m);
    text-align: center;
}

.footer__mention {
    color: var(--text-color--grey);
    text-align: center;
    font-family: var(--font-delius);
    font-size: var(--xs);
    padding: -1rem;
}

.footer__link {
    color: var(--text-color--blue-footer);
    text-decoration: underline;
}

.footer__logo {
    position: absolute;
    right: 10px;
}