.header {
    background-color: var(--main-color--brown);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    padding: 0;
    margin: auto;
}

.header__logo {
    display: block;
    left: 0;
}

.header__switch {
    display: block;
    left: 10px;
}

.header__menu-btn {
    display: block;
    right: 0px;
}