.ap__polaroid {
    display: flexbox;
    background-color: var(--tonic-color--grey);
    width: 95%;
    z-index: auto; 
    margin: 18px;
    padding: 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: 5px;
    position: static;
}

.ap__title {
    font-size: var(--l);
    font-family: var(--indie-flower);
    text-align: center;
    text-decoration: none;
    padding-top: 0.7rem;
}

.ap__image { 
    width: 90%;
    height: 50%;
    margin-left: 1rem;
    margin-right: 1.1rem;
    vertical-align: top;
}

p {
    text-align: left;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.ap__link {
    text-decoration: none;
}