.extrait__h1 {
    font-weight: var(--font-kalam);
    font-size: var(--xxl);
    margin-top: 2rem;
}

.extrait__photo {
    display: flex;
}

.extrait__image1 {
    width: 50%;
    float: left;
}

.extrait__image2 {
    width: 50%;
    float: right;
}