.filmo__h1 {
    font-weight: var(--font-kalam);
    font-size: var(--xxl);
    margin-top: 2rem;
}

.filmo__title {
    font-size: var(--l);
    font-family: var(--font-delius);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.filmo__imgright {
    float: right;
    width: 40%;
    margin-right: 0.5rem;
}

.filmo__imgleft {
    float: left;
    width: 40%;
    margin-left: 0.5rem;
}

.filmo__textleft {
    text-align: left;
    padding-top: 8rem;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-right: 15rem;
    margin-left: 0.5rem;
    padding-left: 0;
    padding-right: 0;
}

.filmo__textright {
    text-align: right;
    padding-top: 8rem;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 15rem;
    margin-right: 0.5rem;
    padding-left: 0;
    padding-right: 0;
}

.filmo__textleft2 {
    text-align: left;
    padding-top: 0;
    padding-bottom: 8rem;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.filmo__textright2 {
    text-align: right;
    padding-top: 0;
    padding-bottom: 8rem;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.filmo__line { 
    border-left: 0.4rem solid black;
    height: 175rem;
    left: 49%;
    position: absolute;
    z-index: -1;
}