.header__intro {
    background-color: var(--main-color--brown);
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 100px;
    margin-bottom: 0;
    text-align: start;
    font-family: var(--font-delius);
    font-size: var(--buttons);
}