.polaroid__box {
    display: flex;
    background-color: var(--tonic-color--grey);
    width: 350px;
    height: 580px;
    z-index: 1; 
    margin: 18px;
    padding: 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
} 

h2  {
    text-align: center;
    text-decoration: none;
}

image {
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}

p {
    text-align: center;
}